footer{
    /* background:var(--color-bg-variant);
     */
    background:linear-gradient(192deg, rgb(112 112 255) 0%, rgb(12 12 48) 100%);
    padding:3rem;
    text-align:center;
    font-size: 0.9rem;
    margin-top:7rem;
    border-radius:2rem 2rem 0 0;
}

footer a {
    color: var(--color-bg);
}

.footer__logo{
    font-size:1.5rem;
    font-weight: 500;
    margin-bottom:2rem;
    display: inline-block;
}

.permalinks{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
    animation:float 5s ease-in-out infinite;
}

.link_icon{
    animation-delay: 1s;
}

.blog_icon{
    animation-delay: 2s;
}

@keyframes float {
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-15px);
    }
    100%{
        transform:translateY(0);
    }

}
.footer__socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display:flex;
    border: 1px solid transparent;
}

/* .footer__socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
} */

.footer__socials a:hover{
    /* animation: pulsate 2s ease-in-out infinite; */
     box-shadow:
        0 0 25px #8e8eff,
        0 0 50px #c49cff8a

}
@keyframes pulsate{
    0%{
        box-shadow:
        0 0 25px #5ddcff,
        0 0 50px #4e00c2;
    }
}
.footer__copyright{
    margin-bottom: 1rem;
    color:white;
    font-size: 1.2rem;
    font-weight: bold;
}

/*================ MEDIA QUERIES =============================*/
@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials {
       margin-bottom: 2.6rem;
    }
}
